.button{
    font: var(--button);
    color: var(--white);
    background: var(--purple);
    padding-block-start: 1.3rem;
    padding-block-end: 1.3rem;
    padding-inline-start: 2.4rem;
    padding-inline-end: 2.4rem;
    border-radius: 0.4rem;
    text-transform: uppercase;
    border: none;
}

.button.is-secondary{
    color: var(--purple);
    background: unset;
    border: 0.2rem solid var(--purple);
}