.button-icon{
    padding: 1rem;
    border-radius: 0.4rem;
    background: var(--white);
    border: 0.2rem solid var(--purple);
    text-decoration: none;
    display: inline-block;
}

.button-icon img{
    vertical-align: middle;
}