.comments{
    max-inline-size: 113.2rem;
    padding: 2.4rem;
    margin-block-start: 4rem;
    margin-block-end: 4rem;
    background: rgba(255, 255, 255,0.2);
    border-radius: 2.4rem;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    backdrop-filter: blur(40px); 
    z-index: -1;
}

.comments figure{
    text-align: center;
    block-size: 6.4rem;
    margin: 2.4rem;
}

.comments img{
    max-block-size: 100%;
}

.comments p{
    font-weight: bold;
    margin-block-start: 2.4rem;
    margin-block-end: 2.4rem;
}

.comments span{
    font: var(--caption);
}

@media screen and (min-width:768px) {
    .comments{
        font: var(--headLine4);
        text-align: center;
        margin-block-start: 8rem;
        margin-block-end: 8rem;
        padding: 8rem;
    }

    .comments figure{
        block-size: 8rem;
    }

    .comments span{
        font-size: 2.4rem;
        line-height: 3.8rem;
    }
}


