.presentation{
    font: var(--headLine5);
    text-align: center;
    padding-block-start: 4rem;
    padding-block-end: 4rem;
    max-inline-size: 90rem;
}

.presentation p{
    font-weight: 400;
    margin-block-start: 2.4rem;
    margin-block-end: 2.4rem;
}

.presentation p:nth-of-type(2){
    font-weight: bold;
}

.presentation img{
    vertical-align: middle;
}

@media screen and (min-width: 1024px){
    .presentation{
        margin: auto;
        padding-block-start: 20rem;
        padding-block-end: 20rem;
    }

    .presentation p:nth-of-type(1){
        font: var(--headLine4);
        font-weight: 300;
    }
}