@import"./button.css";
@import"./button-icon.css";
@import"./header.css";
@import"./hero.css";
@import"./wrapper.css";
@import"./menu.css";
@import"./presentation.css";
@import"./comments.css";
@import"./project.css";
@import"./social.css";
@import"./footer.css";
@import"./form.css";
@import"./title.css";


:root{
    font-size: 62.5%;
    --fontBase: 'Poppins', sans-serif;
    --headLine1: bold 9.5rem/15.371rem var(--fontBase);
    --headLine2: bold 5.9rem/9.5rem var(--fontBase);
    --headLine3: bold 4.8rem/7.7rem var(--fontBase);
    --headLine4: bold 3.4rem/5.5rem var(--fontBase);
    --headLine5: bold 2.4rem/3.8rem var(--fontBase);
    --body1: 1.6rem/2.5rem var(--fontBase);
    --body2: 1.4rem/2.2rem var(--fontBase);
    --button: bold 1.4rem/2.2rem var(--fontBase);
    --caption: 1.2rem/1.9rem var(--fontBase);
    --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
    --purple: #310A90;
    --green: #42E2B8;
    --white: #FFFFFF;
}

body{
    margin: 0;
    padding: 0;
    background: var(--gradient);
    min-block-size: 100vh;
    font: var(--body1);
    color: var(--purple);
}

