.testimony{
    padding: 2.4rem;
    margin-block-start: 8rem;
    margin-block-end: 8rem;
    background: rgba(255, 255, 255,0.2);
    border-radius: 2.4rem;
    border: 4px solid radial-gradient(83.14% 78.52% to -12.32% -18.69%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(39.7657px);
}

.testimony figure{
    text-align: center;
}

.testimony p{
    font-weight: bold;
}

.testimony span{
    font: var(--caption);
}


